body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

.list {
  width: 80%;
  margin: 0 auto;
}

.item {
  display: flex;
  padding: 3px;
  border: 1px solid lightgray;
  margin: 3px 0;
  transition: 0.3s;
}

.site {
  width: 200px;
  padding: 5px 5px 1px 5px;
  background-color: rgb(238, 238, 238);
}

.description {
  padding: 5px 5px 1px 5px;
}

.item:first-child {
  border-radius: 5px 5px 0 0;
  margin-top: 0;
}

.item:last-child {
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
}

.item:hover {
  border-color: cornflowerblue;
  padding: 6px 2px;
  border-width: 2px;
  background-color: rgb(224, 228, 235);
}

.item:hover .site {
  background-color: cornflowerblue;
  color: white;
}


